

<div class="content">
    <!--lista de mesas-->
    <div ng-show="mesas.length && !cadastrandoMesa && !alterandoMesa && !realizandoPedido && !realizandoPagamento && !visualizandoHistoricoPagamento">
        <span><b>Lista de mesas cadastradas</b></span>
        <ul>
            <li ng-repeat="mesa in mesas"><a ng-click="selecionarMesa(mesa)">{{mesa.nome}}</a></li>
        </ul>
    </div>
    <div ng-show="!mesas.length && !cadastrandoMesa && !alterandoMesa && !realizandoPedido && !realizandoPagamento && !visualizandoHistoricoPagamento" style="text-align:center; margin-top: 180px">
        <span><b>Cadastre uma nova mesa...</b></span>
    </div>   
    <!--cadastro de uma mesa-->
    <div ng-show="cadastrandoMesa">
        <div id="alert">
            <span id="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            &nbsp;
            {{mensagemDeErro}}
        </div>
        <div>
            <label>Nome/Numero da mesa</label>
            <input type="text" ng-model="novaMesa.nome">

            <input type="button" class="btn-confirm" ng-click="salvarMesa()" value="Salvar Mesa">
        </div>
    </div>
    <!--opções de uma mesa selecionada-->
    <div ng-show="alterandoMesa">
        <div>
            <div class="col-12">
                <label><b>Nome/Numero da mesa</b></label>
            </div>
            <input type="text" ng-model="mesaSelecionada.nome" disabled>
            <div>
                <div class="col-8"><label><b>Valor a ser pago pela mesa</b></label></div>
                <div class="col-2"><span>{{mesaSelecionada.valorConsumido - mesaSelecionada.valorPago| currency:"R$"}}</span></div>
            </div>
            <div class="col-12">
                <label ng-show="mesaSelecionada.itensComprados.length"><b>Itens consumidos pela mesa</b></label>
            </div>
            <ul>
                <li ng-repeat="item in mesaSelecionada.itensComprados">{{item.nome}} x{{item.quantidade}}</li>
            </ul>
        </div>

        <input type="button" class="btn-confirm" ng-click="realizarPedido()" value="Realizar pedido para mesa">
        <input type="button" class="btn-confirm" ng-show="mesaSelecionada.valorConsumido > mesaSelecionada.valorPago" ng-click="realizarPagamento()" value="Realizar pagamento da mesa">
        <input type="button" class="btn-confirm" ng-show="mesaSelecionada.pagamentosRealizados.length" ng-click="mostrarHistoricoPagamento()" value="Visualizar historico de pagamento">
        <input type="button" class="btn-confirm" ng-show="(mesaSelecionada.valorConsumido - mesaSelecionada.valorPago === 0)" ng-click="finalizarMesa(mesaSelecionada)" value="Finalizar mesa">

    </div>
    <!--cardápio-->
    <div ng-show="realizandoPedido">
        <ul>
            <li ng-repeat="item in alimentos"><a ng-click="selecionarItem(item)">{{item.nome}} - {{item.valor | currency:"R$"}}</a></li>
        </ul>
        <input type="button" class="btn-confirm" ng-show="itemSelecionado" ng-click="adcionarItemMesa()" value="Pedir {{itemSelecionado.nome}} para {{mesaSelecionada.nome}}">
    </div>
    <!--formulário de pagamento-->
    <div ng-show="realizandoPagamento">
        <div>
            <div class="col-12">
                <label><b>Nome/Numero da mesa</b></label>
            </div>
            <input type="text" ng-model="mesaSelecionada.nome" disabled>
            <div class="col-12">
                <label><b>Insira o valor que sera pago</b></label>
            </div>
            <input type="number" ng-model="novoPagamento.valor">
            <input type="button" class="btn-confirm" ng-click="finalizarPagamento(novoPagamento.Valor)" value="Realizar pagamento">
            <div id="alertPagamento">
                <span id="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                &nbsp;
                {{mensagemDeErro}}
            </div>
        </div>
    </div>
    <!--histórico de pagamentos-->
    <div ng-show="visualizandoHistoricoPagamento">
        <ul>
            <li ng-repeat="item in mesaSelecionada.pagamentosRealizados">Pagamento {{item.numero}} - {{item.valor | currency:"R$"}}</li>
            <li><b>Total - {{mesaSelecionada.valorPago | currency:"R$"}}</b></li>
            <li><b>Valor a pagar - {{mesaSelecionada.valorConsumido - mesaSelecionada.valorPago | currency:"R$"}}</b></li>
        </ul>
    </div>
</div>
<!--rodapé-->
<div class="footer" style="text-align:center">
    <div ng-switch="paginaAtual">
        <div ng-switch-when="principal"><img ng-click="cadastrarMesa()" src="Imagens/icons8-plus-50.png" /></div>
        <div ng-switch-when="cadastroMesa"><img ng-click="cancelarCadastro()" src="Imagens/icons8-left-filled-50.png" /></div>
        <div ng-switch-when="alterandoMesa"><img ng-click="cancelarCadastro()" src="Imagens/icons8-left-filled-50.png" /></div>
        <div ng-switch-when="realizandoPedido"><img ng-click="voltarParaMesaSelecionada()" src="Imagens/icons8-left-filled-50.png" /></div>
        <div ng-switch-when="realizandoPagamento"><img ng-click="voltarParaMesaSelecionada()" src="Imagens/icons8-left-filled-50.png" /></div>
        <div ng-switch-when="visualizandoHistorico"><img ng-click="voltarParaMesaSelecionada()" src="Imagens/icons8-left-filled-50.png" /></div>
    </div>
</div>


